apiVersion: apps/v1
kind: Deployment
metadata:
  name: subscription
  labels:
    app: subscription
spec:
  selector:
    matchLabels:
      app: subscription
  replicas: 1
  template:
    metadata:
      labels:
        app: subscription
    spec:
      containers:
      - name: subscription
        # ------------------------------------------------------------------
        # UPDATED: Using the local image built with your command
        # ------------------------------------------------------------------
        image: zoomcamp-model:3.13.10-hw10 
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"            
          limits:
            memory: "128Mi" 
            cpu: "200m"     
        ports:
        - containerPort: 9696
        